@font-face{
	font-family:'myFont';
	src: url('../fonts/Bariol_Regular.otf');
}

/*You use ID's for single elements and we use classes when we want 
to connect them to more than one element*/
body {
	color: white;
}
.topbar{
	width: 100%;
	position: fixed;
	background-color: rgb(51, 122, 183);

}
.topbar p, h1 {
	margin: 0;
}

.navbar {
	margin-top: 30px;
	text-align: right;
	margin-right:5%;
	float:right;
	width: 50%;
	min-width: 500px;

}
html {
  overflow-y: scroll;
}
.CSA {
	float:left;
	margin-left:5%;
	clear: left;
	min-width: 175px;
	width: 20%;
	/*background-color: black;*/
}
a.buttonClick{
	color: #ffffff;
}

a:hover {
	text-decoration: underline;
}
li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
	font-family: "myFont";
}
/*Sets all links in the navbar to white*/
.navbar a {
	color:white;
}

img {
	display: block;
	margin: auto;
}


#fronttext {
	margin: auto;
	/*Change the margins for this. Don't use px?*/
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
	color:white;
	width: 60%;
	text-align: center;
	font-family: "myFont";
}

h1 {
	font-family: "myFont";
	color:white;
	margin-top: 20px;
	text-align: right;
	margin-right:5%;
	width:100px;
}

p {
	font-family: "myFont";
	color:black;
}

.CSA p {
	color: white;
}
#events{
	margin:auto;
	width:50%;
}

.content {
	padding-top: 10%;
}