.contentwrap {
	width: 80%;
	margin: auto;
	padding-top: 10%;
}
#celebrasia {
	float: left;
	width: 35%;
	clear: right;
}

#lunarball{
	float: left;
	clear: left;
	width: 35%;
}

#upcomingevents{
	float: right;
	width: 65%;
}

img {
	margin-left: 0px;
}



h2 {
	text-align: center;
}

h4 {
	padding-bottom: 5px;
	border-bottom: 1px black solid;
}

h2, h3, h4 {
	color:black;
}