.contentwrap {
	width: 80%;
	margin: auto;
}
#celebrasia {
	float: left;
	width: 35%;
	clear: right;
}

#lunarball{
	float: left;
	clear: left;
	width: 35%;
}

img {
	margin-left: 0px;
}

#upcomingevents{
	float: right;
	width: 65%;
	text-align: center;

}


